<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>angular</title>
    <script type="text/javascript" src="../angular.min.js"></script>
</head>
<body>
<div ng-controller="httpCtrl">
    <ul>
        <li ng-repeat="x in names">
            {{x.Name+' '+x.City+' '+x.Country}}
        </li>
    </ul>
</div>
</body>
<script type="text/javascript">
angular.module('myApp',[]).controller('httpCtrl',function($scope,$http){
    var _json = $http.get('../json/http.json').success(function(response){
        $scope.names = response;
    });
})
</script>
</html>