<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>榜单列表</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/style.css"  />
    <link rel="stylesheet" href="../css/index.css"  />
</head>
<body style="background: #f0f0f0;">
<header>
    <div class="title">
        <a href="#" class="home"></a>
        <span>最强榜单</span>
        <a href="#" class="share"><img src="../img/share_white.png" width="17" /></a>
    </div>
</header>
<section>
    <div class="list-content">
        <div class="list-content-inner">
            <a href="#" class="main-list">
                <div class="pic-group">
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                </div>
                <div class="word">
                    <p>最强十月番 02期</p>
                    <p>最新最火热的十月最强番</p>
                    <p>谁上榜，你来定！不服来pk</p>
                </div>
            </a>
        </div>
        <div class="list-button">
            <ul>
                <li><a href="#"><i class="icon-eay"></i>2000人参与</a></li>
                <li><a href="#"><i class="icon-share"></i>分享榜单</a></li>
            </ul>
        </div>
    </div>
    <div class="last-title">
        <h2>往期回顾</h2>
    </div>
    <div class="list-content">
        <div class="list-content-inner">
            <a href="#" class="main-list">
                <div class="pic-group">
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                </div>
                <div class="word">
                    <p>最强十月番 02期</p>
                    <p>最新最火热的十月最强番</p>
                    <p>谁上榜，你来定！不服来pk</p>
                </div>
            </a>
        </div>
        <div class="list-button">
            <ul>
                <li><a href="#"><i class="icon-eay"></i>2000人参与</a></li>
                <li><a href="#"><i class="icon-share"></i>分享榜单</a></li>
            </ul>
        </div>
    </div>
    <div class="list-content">
        <div class="list-content-inner">
            <a href="#" class="main-list">
                <div class="pic-group">
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                </div>
                <div class="word">
                    <p>最强十月番 02期</p>
                    <p>最新最火热的十月最强番</p>
                    <p>谁上榜，你来定！不服来pk</p>
                </div>
            </a>
        </div>
        <div class="list-button">
            <ul>
                <li><a href="#"><i class="icon-eay"></i>2000人参与</a></li>
                <li><a href="#"><i class="icon-share"></i>分享榜单</a></li>
            </ul>
        </div>
    </div>
    <div class="list-content">
        <div class="list-content-inner">
            <a href="#" class="main-list">
                <div class="pic-group">
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                </div>
                <div class="word">
                    <p>最强十月番 02期</p>
                    <p>最新最火热的十月最强番</p>
                    <p>谁上榜，你来定！不服来pk</p>
                </div>
            </a>
        </div>
        <div class="list-button">
            <ul>
                <li><a href="#"><i class="icon-eay"></i>2000人参与</a></li>
                <li><a href="#"><i class="icon-share"></i>分享榜单</a></li>
            </ul>
        </div>
    </div>
    <div class="list-content">
        <div class="list-content-inner">
            <a href="#" class="main-list">
                <div class="pic-group">
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                    <img src="../img/fenghuang.png" width="60" />
                </div>
                <div class="word">
                    <p>最强十月番 02期</p>
                    <p>最新最火热的十月最强番</p>
                    <p>谁上榜，你来定！不服来pk</p>
                </div>
            </a>
        </div>
        <div class="list-button">
            <ul>
                <li><a href="#"><i class="icon-eay"></i>2000人参与</a></li>
                <li><a href="#"><i class="icon-share"></i>分享榜单</a></li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>