<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>pk</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/style.css"  />
    <link rel="stylesheet" href="../css/index.css"  />
</head>
<body style="background:#ee4e32;">
<header>
    <div class="title">
        <a href="#" class="home"><img src="../img/house.png" width="18"></a>
        <span>最强十月番</span>
        <a href="#" class="share"><img src="../img/share_white.png" width="17" /></a>
    </div>
</header>
<section>
    <div class="pk-main">
        <div class="pk-canvas">
            <div class="wenan">
                <p>高度随文案变化高度随文案变化高度</p>
                <p>高度随文案变化高度随文案变化高度</p>
                <p>高度随文案变化高度随文案变化高度</p>
                <p>高度随文案变化高度随文案变化高度</p>
                <p>高度随文案变化高度随文案变化高度</p>
            </div>
            <div class="pk-active" ng-app="pk" ng-controller="pkList">
                <a href="#" class="pk-change" ng-hide="changeHide" ng-click="changeTwoPic()"></a>
                <div class="pk-real">
                    <div class="left">
                        <a href="#" class="pk-manhua"><img ng-src="{{pklistcurrent[0].img}}" width="96" data-id="{{pklistcurrent[0].id}}" /></a><br/>
                        <a href="#" class="go-die-button go-die-button-left" ng-click="changeLeftPic()"></a>
                    </div>
                    <div class="right">
                        <a href="#" class="pk-manhua"><img ng-src="{{pklistcurrent[1].img}}" width="96" data-id="{{pklistcurrent[1].id}}" /></a><br/>
                        <a href="#" class="go-die-button go-die-button-right" ng-click="changeRightPic()"></a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                {{pklist}}
            </div>
        </div>
    </div>
    <div class="pk-list">
        <div class="pk-list-title">
            <img src="../img/xingxing.png" />
            <span class="join-word">参与pk的作品</span>
            <img src="../img/xingxing.png" />
            <i></i>
        </div>
        <div class="pk-list-content">
            <ul>
                <li data-id="id1">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id2">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id3">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id4">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id5">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id6">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id7">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id8">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id9">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
                <li data-id="id10">
                    <a href="#"><img src="../img/fenghuang.png" width="96" /></a>
                    <div class="right-word">
                        <p>一拳超人</p>
                        <p>作者：xxx</p>
                        <p>分类：xxx</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<script type="text/javascript" src="../js/libs/jquery.js" ></script>
<script type="text/javascript" src="../js/libs/angular.min.js" ></script>
<!--<script type="text/javascript" src="../js/pk.js" ></script>-->
<script type="text/javascript">
//列表的打开与合并
    $(function(){
        $('.pk-list-title').on("click",function(){
            if($(this).find('i').hasClass("open")){
                $(".pk-list-content").hide();
                $(this).find('i').removeClass('open')
            }else{
                $(".pk-list-content").show();
                $(this).find('i').addClass('open')
            }
        });
    });

    Array.prototype.remove=function(dx) //从数组中按照下标删除元素
    {
        if(isNaN(dx)||dx>this.length){return false;}
        for(var i=0,n=0;i<this.length;i++)
        {
            if(this[i]!=this[dx])
            {
                this[n++]=this[i]
            }
        }
        this.length-=1
    };

    var app = angular.module('pk',[]);
    app.controller('pkList',function($scope){
        $scope.pklist = [];
        $scope.pklistcurrent = [];
        $scope.changeHide = false;
        angular.element('.pk-list-content').find('li').each(function(index){
            var _json = {"id":angular.element(this).attr('data-id'),"score":0,"img":angular.element(this).find('img').attr('src')};
            $scope.pklist.push(_json);
        });
        initpklist();
        $scope.changeRightPic = function(){
            var key = takeNotKey($scope.pklist.length);
            $scope.pklistcurrent[0].score = $scope.pklistcurrent[1].score+$scope.pklistcurrent[0].score+1;
            $scope.pklistcurrent[1] = $scope.pklist[key];
            $scope.pklist.remove(key);
            refreshByLastLength();
            reLocationByLastLength();
        };
        $scope.changeLeftPic = function(){
            var key = takeNotKey($scope.pklist.length);
            $scope.pklistcurrent[1].score = $scope.pklistcurrent[0].score+$scope.pklistcurrent[1].score+1;
            $scope.pklistcurrent[0] = $scope.pklist[key];
            $scope.pklist.remove(key);
            refreshByLastLength();
            reLocationByLastLength();
        };
        $scope.changeTwoPic = function(){
            $scope.changeLeftPic();
            $scope.changeRightPic();
        };
        function refreshByLastLength(){
            if($scope.pklist.length<2){
                $scope.changeHide = true;
            }
        }
        function reLocationByLastLength(){
            if($scope.pklist.length <= 0){
                alert('跳转');
            }
        }
        function takeTwoFromPklist(number){ //从number个数字中随机选出两个数
            var num1 = parseInt(Math.random()*number);
            var num2 = num1;
            while(num2 == num1){
                num2 = parseInt(Math.random()*number);
            }
            return [num1,num2];
        }
        function takeNotKey(number){ //从0-number(不含)中随机抽取一个数
            return parseInt(Math.random()*number);
        }
        function initpklist(){
            var keylist = takeTwoFromPklist($scope.pklist.length);
            for(var i in keylist){
                console.log(keylist[i]);
                var _json = $scope.pklist[keylist[i]];
                $scope.pklistcurrent.push(_json);
            }
        }
    })
</script>
</body>
</html>