<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>最强10月</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/style.css"  />
    <link rel="stylesheet" href="../css/result.css"  />
</head>
<body>
    <header>
        <div class="title">
            <a href="#" class="back"><img src="../img/back.png" width="10" /></a>
            <span>最强榜单</span>
            <a href="#" class="share"><img src="../img/share_white.png" width="17" /></a>
        </div>
    </header>
    <section class="pk-rank sect-wrap">
        <div class="pk-rank-title">
            您已结束本轮游戏~~ 最终您选择
        </div>

        <div class="pk-rank-cont">
            
            <a href="#" class="pk-rank-img pos-box pk-top-rank-img">
                <img src="http://r3.sinaimg.cn/22/2015/0921/47/b/64552886/180x240x75x0x0x1.jpg">
                <span>一拳超人</span>
            </a>
            <div class="pk-rank-order">
                <h3  class="txt-cut">为 最强十月番！</h3>
                <p class=" h80 pk-order-flex"><span class="txt-cut">目前榜单排第 1 名</span><a href="#" class="lapiao_btn">去拉票</a></p>
                <p class=" h40 pk-order-flex"><span class="txt-cut">亚洲动漫榜排第5名</span><a href="#" class="dabang_btn">去打榜</a></p>

            </div>

        </div>
    </section>
    <div class="pk-other-rank sect-wrap">
        <a href="#" class="clear"><span>其他榜单</span><i class="icon-origin"></i></a>
    </div>

    <div class="pk-rank-list">
        <h3 class="pk-list-tit">
            排行榜
        </h3>
        <ul>
            <li>
                <div class="pk-rank-cont">
            
                    <a href="#" class="pk-rank-img pk-list-rank-img">
                        <img src="http://r3.sinaimg.cn/22/2015/0921/47/b/64552886/180x240x75x0x0x1.jpg">
                    </a>
                    
                    <div class="pk-rank-order">
                        <h3  class="txt-cut h60 pk-rank-order-name">一拳超人</h3>
                        <p class="txt-cut">作者：xxx</p>
                        <p class="txt-cut">分类：xxx</p>
                        <p class="txt-cut">分数：xxx</p>

                    </div>
                    <div  class="pk-rank-num">1</div>

                </div>
            </li>
            <li>
                <div class="pk-rank-cont">
            
                    <a href="#" class="pk-rank-img pk-list-rank-img">
                        <img src="http://r3.sinaimg.cn/22/2015/0921/47/b/64552886/180x240x75x0x0x1.jpg">
                    </a>
                    
                    <div class="pk-rank-order">
                        <h3  class="txt-cut h60 pk-rank-order-name">一拳超人</h3>
                        <p class="txt-cut">作者：xxx</p>
                        <p class="txt-cut">分类：xxx</p>
                        <p class="txt-cut">分数：xxx</p>

                    </div>
                    <div class="pk-rank-num">1</div>

                </div>
            </li>
        </ul>
    </div>
</body>
</html>