/*最强十月番*/
body{
	background: #f0f0f0;
}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.txt-cut {
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.pos-box{
	position: relative;
}
.sect-wrap{
	padding:0 1rem;
	background: #fff;
	border-top: 1px #e6e6e6 solid;
	border-bottom: 1px #e6e6e6 solid;
}

.pk-rank{
	/*padding: 0rem 1rem;*/
}
.pk-rank-title{
	font-size: 18px;
	color: #333;
}
.pk-rank-cont{
	display: -webkit-flex;
	display: flex;
	display: -moz-flex;
    width: 100%;
    margin: 15px 0;
}

.pk-top-rank-img{
	width: 112px;
	height: 148px;
}
.pk-list-rank-img{
	width: 94px;
	height: 126px;
}
.pk-rank-img{
	border: 1px solid #d9d9d9;
	padding:1px;
	
	display: block;
	overflow: hidden;
	margin-right: 5%;
}
.pk-rank-img img{
	width: 100%;
	height: 100%;
	display: block;
}

.pk-rank-img span{
	position: absolute;
	background: #000;
	opacity: 0.6;
	text-align: center;
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff;
	bottom: 0px;
}
.pk-rank-cont h3{
	font-size: 16px;
}
.lapiao_btn,
.dabang_btn{
	padding: 4px 6px;
	font-size: 14px; 
	background: #fe822e;
	-webkit-box-shadow:0 4px 0 #f16100;
	/*float: right;*/
	color: #fff;

	height: 20px;
}
.pk-rank-order{
	-webkit-flex:1;
	-moz-flex:1;
	flex:1;
	color: #636363;
	/*width: 155px;*/
	font-size: 14px;
}
.h80{
	height: 80px;
}
.h40{
	height: 40px;
}
.h60{
	height: 60px;
}


.pk-order-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}
.pk-order-flex span{
	-webkit-flex:1;
	-moz-flex:1;
	flex:1;
	width: 100%;
}

.pk-other-rank{
	margin: 7px 0;
	font-size: 14px;
	height: 40px;
}
.pk-other-rank a{
	color: #f16100;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.pk-other-rank span{
	float: left;
}
.pk-other-rank i{
	background: url('../img/icon_origin.png') 0 0px no-repeat;
	width: 10px;
	height: 17px;
	margin-left: 8px;
	float: left;
	margin-top: 10px;
}


.pk-rank-list{
	background: #fff;
	padding-bottom: 15px;
}
.pk-list-tit{
	height: 58px;
	line-height: 58px;
	font-size: 18px;
	margin: 0 1rem;
}
.pk-num-wrap{
	text-align: right;
}
.pk-rank-num{
	height: 36px;
	width: 36px;
	line-height: 36px;
	border-radius: 36px;
	border:2px solid #fa7d3c;
	color: #fa7d3c;
	font-size: 18px;
	text-align: center;
	position: absolute;
	right: 1rem;
}

.pk-rank-list li{
	border-top: 1px solid #e6e6e6;
	padding: 0 1rem;
	position: relative;
}
.pk-rank-cont h3.pk-rank-order-name{
	width: 140px;
}





































